* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background: url("../../qbkls/qbkls.png");
    margin: 0 auto;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    color: #777777;
    border-top: 1px solid #333333;
    margin-top: 0px;
}
    
header {
    background: white;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 20px;  
}

h1 {
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    color: #777777;
    font-weight: bold;
    margin: 0 auto;
} 

h2 {
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    color: #4aaaa5;
    font-weight: bold;
}

header h1 {
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 20px; 
}

nav {
    float: right;
    width: 300px;
    margin-top: 25px;
   
}

nav ul li {
    display: inline;
    border-right: 2px solid #4aaaa5;
}

nav a {
    color: #333333;
    padding: 5px 15px;
    margin-top: 30px;
}

.wrapper {
    clear: both;
    width: 960px;
    margin: 0 auto;
    background: white;
}

.middle-column, h2 {
    padding: 20px 10px;
}

.middle-column {
    border-top: 2px solid #cccccc;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    float: left;
    padding: 10px;
}

p.double {
    line-height: 2;
    padding: 10px;
}

footer {
    border-top: 8px solid #4aaaa5;
    text-align:center;
    padding-top: 20px;
    background: #666666;
    color: whitesmoke;
}
